.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.images{
    width: 200px;
    height: 200px;
    opacity : 0.8
}
.text{
    font-size: 25px;
    margin-top: 20px;
}